.volunteer-nav {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  background-color: darkblue;
  color: white;
  padding: 10px;
  border-radius: 15px;
}

.requests {
  background-color: lightgrey;
  border-radius: 15px;
  text-align: center;
  padding: 20px 40px;
  margin: 10px;
}

.request-list {
  display: flex;
  flex-direction: row;
}

.links {
  text-decoration: none;
}

.text {
  color: darkblue;
}
